@import "~react-image-gallery/styles/css/image-gallery.css";

.image-gallery-fullscreen-button:focus, .image-gallery-left-nav:focus,
.image-gallery-play-button:focus, .image-gallery-right-nav:focus {
    outline: none;
}

.gallery-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 70px;
}